<div class="card mt-3">
    <div class="card-header">
      <div class="float-left">
        <h4>Cursos</h4>
      </div>
      <div class="float-right" style="display: flex; gap: 20px;">
        <button type="button" class="btn btn-primary" [routerLink]="['novo']">Novo Curso</button>
        <button type="button" class="btn btn-secondary" (click)="onRefresh()">Atualizar</button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-hover" *ngIf="cursos$ | async as cursos; else loadingError">
        <thead>
          <tr>
            <th>id</th>
            <th>curso</th>
            <th>duracao</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let curso of cursos">
            <td>{{curso.id}}</td>
            <td>{{curso.nome}}</td>
            <td>{{curso.duracao}}</td>
            <td>
              <span class="float-right" style="display: flex; gap: 20px;">
                <button class="btn btn-outline-warning mb-1 btn-sm">
                  Atualizar
                </button>

                <button class="btn btn-outline-danger mb-1 btn-sm">
                  Remover
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- loading -->
       <ng-template #loadingError>
        <div *ngIf="error$ | async; else loading" style="color: red;">Erro ao carregar cursos. Tente novamente mais tarde.</div>
        <ng-template #loading>
          <span>carregando cursos...</span>
        </ng-template>
       </ng-template>
